@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #274d5a;
  --background: #274d5a;
  --title_color: #303030;
  --btn_bg: #274d5a;
  --secondary: #f7c17b;
  --green: #32cd32;
  --white: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title_color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .main-btn {
    @apply py-2 px-6 bg-[--secondary] w-fit text-white font-medium text-lg  hover:bg-white hover:text-black duration-500;
  }
  .buy-btn {
    @apply py-3 px-6 bg-[--btn_bg] text-white font-bold text-lg  hover:bg-[--secondary] duration-500;
  }

  .shop-btn {
    @apply px-6 md:px-10 py-3 md:py-4 bg-white text-[--primary] font-medium text-lg md:text-xl w-fit hover:bg-[--secondary] hover:text-white duration-500;
  }

  .more-btn {
    @apply px-10 py-3 text-white text-lg  font-medium bg-[--secondary] w-fit mx-auto;
  }

  header.headerBg::before {
    @apply content-[''] bg-white absolute w-0  md:w-2/6 lg:w-[400px] xl:w-[450px] flex h-full mx-auto my-0 left-0 right-[initial] top-0 z-10;
  }
  header.headerBg {
    @apply h-screen md:h-[90vh] relative;
  }
  .bg_navbar {
    @apply shadow-md;
  }
}

header.headerBg {
  background-image: linear-gradient(-13deg, #ffffff 0, var(--background) 20%);
}

@media (width>=768px) {
  header.headerBg {
    background-image: linear-gradient(
      -13deg,
      #ffffff 30%,
      var(--background) 20%
    );
  }
}

.product-section:first-of-type .product_image::after {
  content: "";
  background-color: var(--secondary);
  position: absolute;
  width: 80%;
  right: 0px;
  top: 0;
  /* margin: 0 auto; */
  display: flex;
  height: 100%;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 0, 75% 8%, 75% 80%, 0% 100%);
}

.product-section .product_image::after {
  content: "";
  background-color: var(--secondary);
  position: absolute;
  width: 70%;
  right: 0px;
  top: 0px;
  display: flex;
  height: 100%;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 2%, 79% 9%, 79% 90%, 0% 100%);
}

/* @media (width<=768px) { */
.product-section:nth-of-type(2) {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
/* } */

.about-section .product_image::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  right: 0px;
  top: 0px;
  display: flex;
  height: 100%;
  left: 0;
  z-index: -1;
  clip-path: polygon(0 2%, 79% 9%, 79% 90%, 0% 100%);
}

/* Start  Swiper-Arrows */
.swiper-button-prev,
.swiper-button-next {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: auto;
  z-index: 100;
}
.hero-section .swiper-button-prev,
.hero-section .swiper-button-next {
  width: 4rem !important;
  height: 4rem !important;
  bottom: 10rem !important;
  left: 85% !important;
}

.testimonials-section .swiper-button-prev,
.testimonials-section .swiper-button-next {
  width: 4rem !important;
  height: 4rem !important;
  bottom: 0 !important;
  margin-top: 4rem;
  left: 80% !important;
}

@media (max-width: 1024px) {
  .testimonials-section .swiper-button-prev,
  .testimonials-section .swiper-button-next {
    width: 4rem !important;
    height: 4rem !important;
    bottom: 0 !important;
    left: 70% !important;
  }
}
@media (max-width: 768px) {
  .testimonials-section .swiper-button-prev,
  .testimonials-section .swiper-button-next {
    width: 3rem !important;
    height: 3rem !important;
    left: 55% !important;
  }
}

@media (max-width: 1024px) {
  .hero-section .swiper-button-prev,
  .hero-section .swiper-button-next {
    bottom: 0 !important;
    left: 70% !important;
  }
}
@media (max-width: 768px) {
  .hero-section .swiper-button-prev,
  .hero-section .swiper-button-next {
    width: 3rem !important;
    height: 3rem !important;
    bottom: 0 !important;
    left: 60% !important;
  }
}
.swiper-button-prev {
  margin-inline-end: 2rem;
  background-color: var(--secondary);
}
.swiper-button-next {
  background-color: var(--primary);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  /* font-weight: 700; */
  font-size: 2rem;
  position: absolute;
}
.swiper-button-prev::after {
  content: "<";
}
.swiper-button-next::after {
  content: ">";
}
/* End  Swiper-Arrows */

/* Start navbar rest styles on Product Details and cart pages   */
.bg_navbar ul li a,
.bg_navbar .menu_icon {
  /* background: red !important; */
  color: black !important;
}
.bg_navbar ul li a.active-link {
  color: var(--secondary) !important;
  font-size: 17px;
}
.bg_navbar ul li:hover a {
  color: var(--secondary) !important;
}

.bg_navbar .user-area {
  color: #000;
}

@media (max-width: 992px) {
  .bg_navbar ul li a {
    color: #fff !important;
  }
}
/* End navbar rest styles on Product Details and cart pages  */

.active-link {
  color: var(--secondary) !important;
  font-size: 17px;
}

/* START Loader */
.loader {
  position: relative;
  font-size: 16px;
  width: 5.5em;
  height: 5.5em;
}

.loader:before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 100%;
  width: 4px;
  background: var(--primary);
  left: 50%;
  top: 50%;
}

.loader:after {
  content: "";
  position: absolute;
  left: 0.2em;
  bottom: 0.18em;
  width: 1em;
  height: 1em;
  background-color: var(--secondary);
  border-radius: 15%;
  animation: rollingRock 2.5s cubic-bezier(0.79, 0, 0.47, 0.97) infinite;
}

@keyframes rollingRock {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }

  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }

  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }

  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }

  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }

  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }

  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }

  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }

  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }

  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }

  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}
/* END Loader */
